# Inclui recursivamente todos os arquivos dentro da pasta de tradução
recursive-include xray_util/locale_i18n *

# Inclui recursivamente todos os arquivos .json da pasta de templates
recursive-include xray_util/json_template *.json

# Inclui recursivamente todos os scripts .sh da pasta de configurações globais
recursive-include xray_util/global_setting *.sh

# Inclui arquivos de configuração específicos
include xray_util/util.cfg
